.setting-item-child {
    background-color: var(--background-secondary);
    padding-left: 1em;
    padding-right: 1em;
    border-top: 0.5px solid var(--background-primary);
}


.narrow-input input:nth-child(1) {
    width: 20%;
}
.narrow-input input:nth-child(2) {
    width: 30%;
}